@import '../../../common/styles/common.less';
.index-container {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    .fullScreen();
    overflow: hidden;
    header {
        display: flex;
        div {
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        div.h-icon, div.write-weibo {
            width: 30px;
            padding: 0 6px;
            box-sizing: content-box;
        }
        div.h-search {
            flex: 1;
        }
    }
    .weibo-list {
        flex: 1;
        overflow: auto;
    }
}