
.app-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header-container {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
  }
  .body-container {
    flex: 1;
    display: flex;
    .left-menu-container {
      margin-top: 4px;
      width: 200px;
      background-color: #fff;
    }
    .right-content-container {
      margin: 4px 2px 2px 4px;
      flex: 1;
      background-color: #fff;
      overflow: hidden;
    }
  }
}
