@import '~antd/dist/antd.less';

.app-container {
    display: flex;
    height: 100%;
    .left-menu {
        width: 200px;
        background-color: pink;
    }
    .right-content {
        flex: 1;
        background-color: #ccc;
        .header {
            height: 50px;
            background-color: hotPink;
        }
    }
}