.h100 {
    height: 100%;
}
.position-r {
    position: relative;
}
.center-x-y {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center-y { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}