.right-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .opening-menus {
        height: 36px;
        line-height: 36px;
        width: 100%;
        display: flex;
        box-shadow: 0 2px 8px #f0f1f2;
        justify-content: center;
    }
    .content {
        flex: 1;
        padding: 10px;
    }
}